<!DOCTYPE html>
<html lang="fr" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Exercice 5</title>
  </head>
  <body ng-app="">
    <button type="button" name="show" ng-click="show=false">cacher</button>
    <button type="button" name="hide" ng-click="show=true">afficher</button>
    <p ng-show="show">Les Tortues (Testudines), ou Chéloniens, forment un ordre de reptiles dont la caractéristique est d'avoir une carapace.</p>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.3/angular.min.js"></script>
  </body>
</html>
